@import "variables";

@mixin font($size, $weight) {
  font-size: #{$size + 'px'};
  font-weight: $weight;
  font-family: Poppins, sans-serif
}

@mixin text($size, $weight, $color) {
  @include font($size, $weight);
  color: $color
}

@mixin logo() {
  .logo {
    background-color: $_white;
    padding: 10px;
    border-radius: 10px;
    display: inline;
    width: 230px;

    &-text {
      @include text(30, 700, $_black);
    }

    &-icon {
      padding: 5px;
      background-color: blue;
      display: inline-flex;
      justify-content: center;
      align-content: center;
      border-radius: 5px;
      margin-left: 5px;

      i {
        font-size: 30px;
        color: $_white
      }
    }
  }
}

@mixin gradient($dir: bottom) {
  background: linear-gradient($dir, #7579ff, #b224ef);
  background: -webkit-linear-gradient($dir, #7579ff, #b224ef);
}
