a {
  &, &:hover, *, *:hover {
    text-decoration: none;
  }
}

input {
  &:focus, &:active, &:focus-within {
    outline: none;
    border: none;
  }
}

button {
  outline: none!important;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, p {
  padding: 0;
  margin: 0;
}
