/* line 2, ../scss/normalize.scss */
a, a:hover, a *, a *:hover {
  text-decoration: none;
}

/* line 8, ../scss/normalize.scss */
input:focus, input:active, input:focus-within {
  outline: none;
  border: none;
}
