<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cutmylink: Join us!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
    <link href="../static/styles/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/css/sign/sign.css" rel="stylesheet" type="text/css">

    <script src="https://kit.fontawesome.com/6ef5b74245.js"></script>
</head>
<body>
    <!-- TODO: add responsive -->
    <!-- TODO: add background -->
    <div class="d-flex justify-content-center align-items-center vh-100 w-100">
        <div class="sign-wrapper">
            <div class="sign">
                <a href='/' class="sign-logo">
                    <span class="sign-logo-text">Cutmylink</span>
                    <span class="sign-logo-icon">
                        <i class="fas fa-cut"></i>
                    </span>
                </a>
                <div class="sign-greeting">
                    <h1>
                        Welcome!
                    </h1>
                    <p>
                        <span style="color:blue">Start</span>
                        enjoying our experience right now
                    </p>
                </div>
                <form class="sign-form" autocomplete="off">
                    <!-- TODO: add inputs hover effects -->
                    <label class="sign-form-label">
                        <i class="fas fa-envelope"></i>
                        <input
                            type="email"
                            class="sign-form-input"
                            name="email"
                            placeholder="E-mail"
                        >
                    </label>
                    <label class="sign-form-label">
                        <i class="fas fa-user"></i>
                        <input
                            type="text"
                            class="sign-form-input"
                            name="username"
                            placeholder="Username"
                        >
                    </label>
    <!-- TODO: add changing of  input type to "password" whenever user starts to type -->
                    <label class="sign-form-label">
                        <i class="fas fa-lock"></i>
                        <input
                            type="text"
                            class="sign-form-input"
                            name="password"
                            placeholder="Password"
                        >
                    </label>
                    <!-- TODO: add checkbox functionality -->
                    <label class="sign-form-label checkbox-label">
                        <span class="sign-form-checkbox"></span>
                        <input
                            type="checkbox"
                            name="remember"
                            class="d-none"
                        >
                        Remember me
                    </label>
                    <div class="d-relative mt-4">
                        <button type="submit" class="sign-form-submit">Join!</button>
                     </div>
                </form>
                <p class="sign-join">
                    Already on Cutmylink?
                    <a href="login" class="sign-join-link">Log in now!</a>
                </p>
            </div>
        </div>
    </div>
    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

