@import "../_mixins";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &-wrapper {
    width: 500px;
    background: linear-gradient(bottom, #7579ff, #b224ef);
    background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
    padding: 50px 0 30px;
    border-radius: 10px;
  }

  &-logo {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline;
    width: 230px;

    &-text {
      @include text(30, 700, black);
    }

    &-icon {
      padding: 5px;
      background-color: blue;
      display: inline-flex;
      justify-content: center;
      align-content: center;
      border-radius: 5px;
      margin-left: 5px;

      i {
        font-size: 30px;
        color: white
      }
    }
  }

  &-greeting {
    width: 75%;
    @include text(20, 500, white);

    h1 {
      @include text(30, 700, white);
      margin-top: 70px;
      span {
        padding: 5px;
        background-color: #2274ff;
        border-radius: 10px;
      }
    }
  }

  &-form {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-input {
      background: transparent;
      border: none;
      padding-bottom: 10px;
      @include text(16, 400, white);

      &::placeholder {
        color: white;
      }
    }

    &-checkbox {
      width: 15px;
      height: 15px;
      border-radius: 3px;
      background-color: white;
      margin-right: 10px;
    }

    &-submit {
      padding: 10px 40px;
      border-radius: 30px;
      background: white;
      transition: .3s;
      border: none;
      box-shadow: none;
      transform: translate(-50%, -50%);
      @include text(16, 500, #1C0C0A);

      position: absolute;

      &:hover {
        background: linear-gradient(top, #7579ff, #b224ef);
        background: -webkit-linear-gradient(top, #7579ff, #b224ef);
        @include text(18, 700, white);
        transform: translate(-50%, calc(-50% + 4px));
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
      }
    }

    &-label {
      border-bottom: 2px solid rgba(255, 255, 255, .4);
      width: 60%;
      display: inline-flex;
      align-items: center;
      margin-bottom: 30px;

      i {
        margin: 0 20px 10px 0;
        color: white;
        font-size:20px;
      }

      &.checkbox-label {
        border: none;
        @include text(14, 400, white);
        margin-left: 50px;
      }
    }
  }

  &-join {
    margin-top: 50px;
    @include text(16, 400, white);

    &-link {
      color: #1C0C0A;

      &:hover {
        color: #1C0C0A;
        border-bottom: 1.25px solid #1C0C0A;
      }
    }
  }
}
